body {
  background-color: #e6dac8;
  font-family: "Playfair Display", serif;
}

.App .container {
  text-align: center;
  padding: 40px;

  margin: 100px auto;
}

.App h1 {
  font-size: 70px;
  font-weight: bolder;
  margin: 0 auto;
  color: #e6dac8;
  background-color: #2e3830;
  border: #2e3830 1px solid;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.App h3 {
  font-size: 25px;
  color: #2e3830;
}
.App footer {
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.7;
}

@media (max-width: 900px) {
  .App h1 {
    font-size: 40px;
  }

  .App h3 {
    font-size: 20px;
    margin-top: 0;
  }

  .App footer {
    font-size: 12px;
  }
}
